* {
  font-family: 'Noto Sans Mono', monospace;
  transition: all .2s ease-in-out;
}
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 0;
  background: white;
}
body::-webkit-scrollbar-thumb {
  width: 4px;
  height: 0;
  background: black;
}